*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Signika', sans-serif;
}

/* **************NAVBAR***************** */

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 0px 2.5%;
  z-index: 100;
  border-bottom: 1px solid lightgrey;
  background: white;
}

.logo_div{
  order: 2;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_div img{
  width: 100px;
  height: 32.5px;
  margin-top: 2.5px;
  cursor: pointer;
}

.hamburger_div{
  width: 110px;
  display: flex;
  align-items: center;
}

.hamburger_div img{
  order: 1;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.bag_div{
  order: 3;
  width: 110px;
  text-align: right;
  display: flex;
  align-items: center;
}

.bag_div div{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bag_div img{
  width: 25px;
  height: 30px;
  cursor: pointer;
}

#search{
  width: 22.5px;
  height: 25px;
}

.bag_total{
  position: absolute;
  top: -3px;
  right: 7.5px;
  background: rgb(31, 122, 241);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search_container{
  position: fixed;
  right: -100%;
  top: 65px;
  height: calc(100vh - 65px);
  width: 100vw;
  transition: right .55s ease-in-out;
  background: lightgrey;
  text-align: center;
}

.search_container.active{
  right: 0px;
}

.search_container input{
  width: 80%;
  margin: 10px auto;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-indent: 15px;
  font-size: 17.5px;
}

.cart_container{
  position: fixed;
  right: -110%;
  top: 65px;
  height: calc(100vh - 65px);
  width: 100vw;
  transition: right .55s ease-in-out;
  background: lightgrey;
  text-align: center;
}

.cart_container.active{
  right: 0px;
}


.menu_slider{
  position: absolute;
  top: 65px;
  left: -100%;
  height: calc(100vh - 65px);
  width: 100%;
  background: lightgray;
  display: flex;
  flex-direction: row;
  transition: left .55s ease-in-out;
}

.menu_slider.active{
  left: 0px;
}

.slider_container{
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.first_menu, .second_menu{
  background: white;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all .55s ease-in-out;
}

.first_menu button{
  position: relative;
  width: 100%;
  background: white;
  text-align: left;
  font-size: 30px;
  margin-top: 60px;
  padding: 10px 0px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.first_menu button img{
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  right: 35px;
}

.second_menu div{
  width: 100%;
  height: 100%;
}

.second_menu .subMenu_links{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.second_menu .subMenu_links button{
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  padding-left: 40px;
}

.second_menu .subMenu_links img{
  width: 10px;
  transform: rotateY(180deg);
  margin-left: 35px;
  margin-right: 30px;
  width: 12.5px;
  height: 12.5px;
}

.second_menu .subMenu_links button, .second_menu .subMenu_links a{
  width: 100%;
  text-align: left;
  font-size: 30px;
  margin-top: 60px;
  padding: 10px 0px;
  text-decoration: none;
  color: black;
  background: white;
  text-transform: uppercase;
}

.second_menu .subMenu_links a{
  padding-left: 80px;
}

@media screen and (min-width: 650px){
  .hamburger_div{
    display: none;
    order: -1;
  }
  
  .logo_div{
    order: 1;
    width: 100px;
    margin-right: unset;
    margin-left: unset;
  }
  
  .desktop_menu{
    order: 2;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown1, .dropdown2, .dropdown3, .dropdown4{
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
  }
  
  .desktop_menu div button{
    border: none;
    outline: none;
    font-size: 17.5px;
    height: 100%;
    cursor: pointer;
    padding: 2px 2.5px;
    background: white;
  }

  .submenu1, .submenu2, .submenu3, .submenu4{
    display: none;
  }
  
  .dropdown1:hover .submenu1, .dropdown2:hover .submenu2, .dropdown3:hover .submenu3, .dropdown4:hover .submenu4{
    position: fixed;
    display: flex;
    top: 64px;
    left: 0px;
    width: 100vw;
    height: 65px;
    align-items: center;
    justify-content: center;
    background: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 0px 2.5%;
  }

  .dropdown1:hover, .dropdown2:hover, .dropdown3:hover, .dropdown4:hover{
    border-bottom: 3.5px solid black;
    border-top: 3.5px solid white;
  }

  .desktop_menu div div a{
    margin: 0px 10%;
    text-decoration: none;
    padding: 5px;
    color: rgb(32, 148, 243);
  }

  .desktop_menu div div a:hover{
    text-decoration: underline;
  }
  

  .search_container{
    position: fixed;
    right: 0px;
    top: 65px;
    height: 400px;
    width: 40vw;
    max-width: 600px;
    transition: opacity .55s ease-in-out;
    background: rgb(235, 234, 234);
    text-align: center;
    opacity: 0;
    border-radius: 0px 0px 0px 5px;
    box-shadow: 2px 2px 3px rgb(199, 197, 197), -1px 1px 3px rgb(199, 197, 197);
    z-index: 10;
  }
  
  .search_container.active{
    opacity: 1;
  }
}

/* ****************FOOTER******************* */
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 35px 5%;
  background: black;
  color: white;
}

.footer h3{
  width: 90%;
}

.footer p{
  margin: 10px auto;
  margin-bottom: 0px;

}

.newsletter{
  margin: 10px auto;
}

.newsletter input{
  height: 25px;
  border: none;
  outline: none;
  text-indent: 10px;
}

#email_submit{
  background: rgb(7, 97, 233);
  color: white;
  border: none;
  outline: none;
  padding: 0px 5px;
  text-indent: 0px;
}

.footer img{
  width: 110px;
  height: 25px;
  margin-top: 20px;
}

/* ****************HOME********************* */

.Home_Section{
  margin-top: 65px;
  height: 65vh;
}

.diagonalHover {
  margin-top: 65px;
  position: absolute;
  width: 66%;
  height: 65vh;
  z-index: -10;
}
.diagonalHover.first,
.diagonalHover.second {
  background-image: url(./images/home_men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.diagonalHover.second {
  background-image: url(./images/home_women.jpg);
}

.diagonalHover.first {
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
}

.diagonalHover.second {
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}

.sale_container{
  background-image: url(./images/coupon_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px auto;
}

.sale_background{
  background: red;
  width: 80%;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgb(59, 59, 59);
}

.sale_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  margin-top: 30px;
}

.sale_container h1{
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  text-shadow: 1px 1px 10px black;
}

.sale_item{
  background: black;
  color: white;
  height: 200px;
  margin: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale_item button{
  background: rgb(6, 214, 6);
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
}



/* **********************MEN******************* */

.Page{
  margin-top: 65px;
}

.intro_container{
  width: 100%;
  height: calc(100vh - 65px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/Men_intro.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_container h1{
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 10px black;
}

.scroll_fix{
  width: 100%;
  display: block;
  margin-bottom: 90px;
}

.Page h2{
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

.product_container{
  margin: 30px auto;
  width: 100%;
  padding: 10px;
}

.product{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product img{
  width: 80%;
  max-width: 400px;
  margin: 10px auto;
  height: 180px;
  border-radius: 5px;
  text-align: center;
}