*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sansita', sans-serif;
}

/* **************NAVBAR***************** */

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 0px 2.5%;
  z-index: 100;
  border-bottom: 1px solid lightgrey;
  background: white;
}

.logo_div{
  order: 2;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_div img{
  width: 100px;
  height: 32.5px;
  margin-top: 2.5px;
  cursor: pointer;
}

.hamburger_div{
  width: 110px;
  display: flex;
  align-items: center;
}

.hamburger_div img{
  order: 1;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.bag_div{
  order: 3;
  width: 110px;
  text-align: right;
  display: flex;
  align-items: center;
}

.bag_div div{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bag_div img{
  width: 25px;
  height: 30px;
  cursor: pointer;
}

#search{
  width: 22.5px;
  height: 25px;
}

.bag_total{
  position: absolute;
  top: -3px;
  right: 7.5px;
  background: rgb(31, 122, 241);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 13.5px;
  color: white;
}



.menu_slider{
  position: absolute;
  top: 65px;
  left: -100%;
  height: calc(100vh - 65px);
  width: 100%;
  background: lightgray;
  display: flex;
  flex-direction: row;
  transition: left .55s ease-in-out;
}

.menu_slider.active{
  left: 0px;
}

.slider_container{
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.first_menu, .second_menu{
  background: white;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all .55s ease-in-out;
}

.first_menu button{
  position: relative;
  width: 100%;
  background: white;
  text-align: left;
  font-size: 30px;
  margin-top: 60px;
  padding: 10px 0px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.first_menu button img{
  position: absolute;
  width: 12.5px;
  height: 12.5px;
  right: 35px;
}

.second_menu div{
  width: 100%;
  height: 100%;
}

.second_menu .subMenu_links{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.second_menu .subMenu_links button{
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  padding-left: 40px;
}

.second_menu .subMenu_links img{
  width: 10px;
  transform: rotateY(180deg);
  margin-left: 35px;
  margin-right: 30px;
  width: 12.5px;
  height: 12.5px;
}

.second_menu .subMenu_links button, .second_menu .subMenu_links a{
  width: 100%;
  text-align: left;
  font-size: 30px;
  margin-top: 60px;
  padding: 10px 0px;
  text-decoration: none;
  color: black;
  background: white;
  text-transform: uppercase;
}

.second_menu .subMenu_links a{
  padding-left: 80px;
}

@media screen and (min-width: 650px){
  .hamburger_div{
    display: none;
    order: -1;
  }
  
  .logo_div{
    order: 1;
    width: 100px;
    margin-right: unset;
    margin-left: unset;
  }
  
  .desktop_menu{
    order: 2;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown1, .dropdown2, .dropdown3, .dropdown4{
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
  }
  
  .desktop_menu div a{
    border: none;
    outline: none;
    font-size: 17.5px;
    height: 100%;
    cursor: pointer;
    padding: 2px 5vw;
    background: white;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
  }

  .submenu1, .submenu2, .submenu3, .submenu4{
    display: none;
  }
  
  .dropdown1:hover .submenu1, .dropdown2:hover .submenu2, .dropdown3:hover .submenu3, .dropdown4:hover .submenu4{
    position: fixed;
    display: flex;
    top: 64px;
    left: 0px;
    width: 100vw;
    height: 65px;
    align-items: center;
    justify-content: center;
    background: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 0px 2.5%;
  }

  .dropdown1:hover, .dropdown2:hover, .dropdown3:hover, .dropdown4:hover{
    border-bottom: 3.5px solid black;
    border-top: 3.5px solid white;
  }

  .desktop_menu div div a{
    margin: 0px 10%;
    text-decoration: none;
    padding: 5px;
    color: rgb(32, 148, 243);
  }

  .desktop_menu div div a:hover{
    text-decoration: underline;
  }
}

/* ****************FOOTER******************* */
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 35px 5%;
  background: black;
  color: white;
  height: 175px;
}

.footer h3{
  width: 90%;
  max-width: 400px;
}

.footer p{
  margin: 10px auto;
  margin-bottom: 0px;

}

.newsletter{
  margin: 10px auto;
}

.newsletter input{
  height: 25px;
  border: none;
  outline: none;
  text-indent: 10px;
}

#email_submit{
  background: rgb(31, 122, 241);
  color: white;
  border: none;
  outline: none;
  padding: 0px 5px;
  text-indent: 0px;
}

.footer img{
  width: 110px;
  height: 25px;
  margin-top: 20px;
}

/* ****************HOME********************* */

.Home_Section{
  margin-top: 65px;
  height: 65vh;
}

.diagonalHover {
  margin-top: 65px;
  position: absolute;
  width: 66%;
  height: 65vh;
  z-index: -10;
}
.diagonalHover.first,
.diagonalHover.second {
  background-image: url(./images/home_men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.diagonalHover.second {
  background-image: url(./images/home_women.jpg);
}

.diagonalHover.first {
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
}

.diagonalHover.second {
  right: 0;
  top: 0;
  -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}

.sale_container{
  background-image: url(./images/coupon_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px auto;
}

.sale_background{
  background: red;
  width: 80%;
  max-width: 900px;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgb(59, 59, 59);
}

.sale_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 20px auto;
  margin-top: 30px;
}

.sale_container h1{
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  text-shadow: 1px 1px 10px black;
}

.sale_item{
  background: black;
  color: white;
  height: 200px;
  margin: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sale_item button{
  background: rgb(6, 214, 6);
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  margin-bottom: 0px;
}



/* **********************MEN******************* */

.Page{
  margin-top: 65px;
}

.intro_container{
  width: 100%;
  height: calc(100vh - 65px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/Men_intro.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container_women{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/Women_intro.jpg);
}

.intro_container h1{
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 10px black;
}

.Page h2{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  scroll-margin-top: 100px;
}

.product_container{
  width: 100%;
  margin: 30px auto;
  margin-top: 15px;
  margin-top: 40px;
  padding: 2.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product_container a{
  color: black;
  text-decoration: none;
}

.product{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 15px 10px;
  text-indent: 20px;
  box-shadow: 2px 2px 10px lightgrey;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all .35s;
}

.product h1{
  margin: 10px 0px;
}

.product img{
  width: 100%;
  margin: 10px auto;
  margin-top: 0px;
  height: 250px;
  text-align: center;
}





/* *********ITEM PREVIEW*********** */

.item_related_container{
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item_preview_container{
  width: 95%;
  max-width: 500px;
  margin: 25px 20px;
  min-height: 415px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px lightgrey;
}

.item_images{
  width: 100%;
  margin: 0px auto;
}

.featured_image{
  width: 100%;
  height: 345px;
  border-radius: 0px 0px 2.5px 0px;
}

#expand{
  width: 27.5px;
  background: rgb(31, 122, 241);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 5px;
  bottom: 7.5px;
  cursor: pointer;
}

.item_photos{
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.item_photos img{
  width: 100px;
  height: 80px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 2.5px;
}

.item_options{
  width: 100%;
  margin: 0px auto;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.item_options p{
  margin-top: 20px;
  font-size: 22.5px;
}

.item_options h3{
  margin-top: 10px;
}

.item_preview_container h1{
  font-size: 50px;
}

.product_selections{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 11px auto;
  font-size: 20px;
  width: 100%;
  height: 37.5px;
}

.product_selections h3{
  margin-bottom: 16px;
}

.product_selections select{
  height: 25px;
  outline: none;
}

.AddtoBag{
  display: block;
  height: 50px;
  width: 150px;
  font-size: 25px;
  background:rgb(31, 122, 241);
  color: white;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin: 55px auto;
  cursor: pointer;
}

.item_added_alert{
  position: fixed;
  left: 0px;
  top: 55px;
  width: 100%;
  background: rgb(5, 175, 5);
  color: white;
  transition: all 2s ease;
  opacity: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_added_alert.active{
  position: fixed;
  opacity: 1;
  z-index: 22;
}

/* Related Products */

.related_products_container{
  width: 350px;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 415px;
}

.related_products_container h2{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}

.related_product{
  margin: 2.5px auto;
  width: 350px;
  display: flex;
  height: 95px;
  box-shadow: 2px 2px 10px lightgrey;
  cursor: pointer;
}

.related_product img{
  width: 130px;
}

.related_product .related_description{
  margin: 10px;
}

.related_description p, .related_description h4{
  margin: 5px;
}

@media screen and (min-width: 650px){
  .item_preview_container{
    justify-content: space-between;
    padding: 0px;
    max-width: 575px;
  }

  .item_images{
    width: 60%;
  }

  .item_options{
    width: 40%;
    align-items: flex-start;
  }

  .featured_image{
    height: 300px;
  }

  .AddtoBag{
    margin-top: 30px;
  }
}


/* **********************BAG************** */

.bag_container{
  min-height: calc(100vh - 100px - 175px);
  text-align: center;
  width: 98%;
  max-width: 700px;
  margin: 5px auto;
  margin-top: 100px;
}

#empty_bag{
  margin-top: 20px;
}

.bag_intro{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.checkout{
  background: black;
  color: white;
  padding: 7.5px;
  border: none;
  outline: none;
  font-size: 22.5px;
  border-radius: 5px;
  cursor: pointer;
}

.bag_item{
  border: 1px solid black;
  position: relative;
  margin: 10px auto;
  display: flex;
}

.subtotal_remove{
  display: flex;
  align-items: center;
  position: absolute;
  right: 12px;
  top: 12.5px;
}

.subtotal_remove img{
  width: 12.5px;
  height: 12.5px;
  margin-left: 5px;
  margin-bottom: 1.5px;
  cursor: pointer;
}

.item_image img{
  width: 150px;
  height: 100%;
}

.item_description{
  text-align: left;
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 12.5px;
}

.quantity_div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  margin: 10px 0px;
}

.quantity_div span{
  font-weight: bold;
  font-size: 20px;
}

.quantity_div img{
  width: 17.5px;
  height: 17.5px;
  margin: 0px 10px;
  border-radius: 100%;
  cursor: pointer;
}

#minus_sign:hover{
  background: red;
}

#plus_sign:hover{
  background: rgb(5, 175, 5);
}

.coupon_area{
  background: rgb(226, 225, 225);
  border-radius: 5px;
  border: solid 1px rgb(97, 97, 97);
  margin: 30px auto;
  padding-top: 5px;
  padding-bottom: 2.5px;
}

.coupon_flex{
  display: flex;
  width: 95%;
  margin: 5px auto;
  margin-bottom: 10px;
  border: 1px solid black;
}

.coupon_input{
  width: 75%;
  height: 30px;
  font-size: 15px;
  text-indent: 10px;
  border-radius: 0px;
  border: none;
  outline: none;
}

.coupon_submit{
  width: 25%;
  background: rgb(31, 122, 241);
  color: white;
  border: none;
  outline: none;
  padding: 0px 5px;
  text-indent: 0px;
  height: 31px;
}

.coupon_message, .coupon_area h3{
  text-align: left;
  width: 95%;
  margin: 0px auto;
  padding-bottom: 5px;
}

.order_summary_div{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

/* *****************Checkout Modal Message**************** */

.checkout_modal, .image_modal{
  display: none;
}

.checkout_modal.active, .image_modal.active{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 110;
  background: rgba(0, 0, 0, 0.92);
}

.modal_message_container{
  background: white;
  padding: 30px 15px;
  width: 70%;
  margin: 0px auto;
  min-width: 270px;
  max-width: 500px;
  text-align: center;
  border-radius: 5px;
}

#expanded_image{
  width: 80%;
  margin: 0px auto;
  max-width: 700px;
  height: 55vw;
  max-height: 500px;
}

.modal_message_container h3{
  margin: 10px auto;
  margin-bottom: 20px;
  font-size: 30px;
}

.modal_message_container h4{
  margin-bottom: 10px;
  font-size: 20px;
}


.exit_modal{
  display: none;
}

.exit_modal.active{
  position: fixed;
  display: inherit;
  top: 2.5%;
  right: 2.5%;
  width: 30px;
  cursor: pointer;
  z-index: 110;
}

/* ********************SEARCH RESULTS************ */

.search_container{
  position: fixed;
  /* right: -100vw; */
  padding: 20px 10px;
  width: 100%;
  background: rgb(226, 225, 225);
  text-align: center;
  opacity: 1;
  z-index: 22;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.692);
  border-radius: 0px 0px 5px 5px;
  transition: top .5s ease;
}

.search_container.active{
  top: 65px;
}

.search_container input{
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  text-indent: 25px;
  font-size: 17.5px;
}

.suggestions_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.suggestion_div{
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}

.suggestion_link{
  text-decoration: none;
  height: 60px;
  width: 100%;
  margin: 5px auto;
}

.suggestion{
  display: flex;
  background: rgb(22, 116, 240);
  border-radius: 2.5px;
}

.suggestion img{
  width: 80px;
  height: 60px;
  border-radius: 2.5px 0px 0px 2.5px;
}

.suggestion_description{
  font-size: 12.5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding-left: 5px;
}

.suggestion_description h4, .suggestion_description p{
  margin: 1px 5px;
}